puphpet/config-custom.yaml
.vagrant/
.idea/
.phpstorm.meta.php
_ide_helper.php
.env
/www/html/index.html
/www/html/beanstalk_console/
/logs/php_error.log
/www/driversfinder/vendor/
/www/driversfinder/node_modules/
/www/driversfinder/bootstrap/cache/
/www/driversfinder/storage/
/www/driversfinder/resources/data/expressions/
/www/driversfinder/resources/data/mithril2/
.DS_Store
.AppleDouble
.LSOverride
._*
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp
*.lnk
www/driversfinder/test.txt
